PDNS_gmysql_host=tamvan-powerdns-mysql-klukai
PDNS_gmysql_port=3306
PDNS_gmysql_user=powerdns
PDNS_gmysql_password=powerdnspass
PDNS_gmysql_dbname=powerdns

PDNS_dnsupdate=yes
PDNS_allow_dnsupdate_from=10.0.5.0/24,10.0.2.0/24

PDNS_local_address=0.0.0.0
PDNS_local_port=53
PDNS_log_dns_details=yes
PDNS_log_dns_queries=no

PDNS_primary=yes
PDNS_api=yes
PDNS_api_key=pdns_api_key
PDNS_webserver=yes
PDNS_webserver_address=0.0.0.0
PDNS_webserver_allow_from=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
PDNS_webserver_password=super_secret

PDNS_version_string=anonymous
PDNS_default_ttl=1500


