MARIADB_ROOT_PASSWORD_FILE=/run/secrets/mariadb-root-sample
MARIADB_USER_FILE=/run/secrets/powerdns-user-sample
MARIADB_PASSWORD_FILE=/run/secrets/powerdns-pass-sample
MARIADB_DATABASE=powerdns

MARIADB_GALERA_CLUSTER_ADDRESS=gcomm://
MARIADB_GALERA_MARIABACKUP_PASSWORD_FILE=/run/secrets/mariadb-root-sample