MARIADB_ROOT_PASSWORD_FILE=/run/secrets/mariadb-root-powerdnsadmin-sample
MARIADB_USER_FILE=/run/secrets/powerdnsadmin-user-sample
MARIADB_PASSWORD_FILE=/run/secrets/powerdnsadmin-pass-sample
MARIADB_DATABASE=powerdnsadmin
MARIADB_GALERA_CLUSTER_ADDRESS=gcomm://
MARIADB_GALERA_MARIABACKUP_PASSWORD_FILE=/run/secrets/mariadb-root-powerdnsadmin-sample